.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-auto-rows: 10px;
    justify-items: center;
    gap: 0;
}

.image-list img {
    width: 280px;
    border: 5px solid white;
    box-shadow: 0 0 2px 0 black;
}